<h2>edit profile</h2>

<div class="profiletip">
<h1>Welcome {{user.username}}</h1>

<img src={{user.image}} alt="profile-pic">
<br>
{{user.age}}
<br>
{{user.city}}
<br>
{{user.description}}
<br>
{{user.sport}}
<br>
{{user.review}}
<a href="/private/groups">Ir a grupos</a>
<a href="/private/partners">Otro Usuarios</a>
<a href="/private/edit">Editar perfil</a>
</div>