<div class="profiletip">
<h1>Welcome {{user.username}}</h1>
<div class='profilebody'>
<img src={{user.image}} alt="profile-pic">
<br>
<p>{{user.age}}</p>
<br>
<p>{{user.city}}</p>
<br>
<p>{{user.description}}</p>
<br>
<p>{{user.sport}}</p>
<br>
<p>{{user.review}}</p>
</div>

<a href="/private/edit">Editar perfil</a>
</div>





