<div class="profiletip">
<h1>Welcome {{user.username}}</h1>

<div class='profilebody'>
<img src={{user.image}} class="img-thumbnail" alt="profile-pic">

  <div class ="procontent">
  <p> <span class='procamps'>Edad:</span> {{user.age}}</p>
  <br>
  <p><span class='procamps'>Ciudad:</span> {{user.city}}</p>
  <br>
  <p><span class='procamps'>Descripción:</span> {{user.description}}</p>
  <br>
  <p><span class='procamps'>Deporte:</span> {{user.sport}}</p>
  <br>
  <p><span class='procamps'>Reviews:</span> {{user.review}}</p>
  <br>
  <a class='link' href="/private/edit">Editar perfil</a>
  </div>
</div>

</div>





