
<h1>Welcome {{user.name}}</h1>
<a class="link" href="/index/logout">Logout</a>
<img src={{user.image}} alt="profile-pic">
{{user.age}}
{{user.city}}
{{user.description}}
{{user.sport}}
{{user.review}}



