<div class="profiletip">
<h1>Welcome {{user.username}}</h1>

<div class='profilebody'>
<img src={{user.image}} class="img-thumbnail" alt="profile-pic">

  <div class ="procontent">
    <div class="div-p">
  <p class="p"> <span class='procamps'>Edad:</span> {{user.age}}</p>
  <br>
  <p class="p"> <span class='procamps'>Género:</span> {{user.genero}}</p>
  <br>
  <p class="p"><span class='procamps'>Ciudad:</span> {{user.city}}</p>
  <br> 
  </div>
  <p><span class='procamps'>Descripción:</span> {{user.description}}</p>
  <br>
  <p><span class='procamps'>Deportes:</span>
  <div class="deportes">
  {{#each user.sport}}
  <br>
  <li>{{this}}</li>
  {{/each}}</p>
  </div>
  <br>
  <div class="div-botones">
  <a class='link' href="/private/edit"> Editar perfil </a>
  <form action="/private/{{user._id}}/delete" method="POST">
        <button class="boton-eliminar "type="submit">Elimina tu perfil</button>
        </form>
</div>
</div>

</div>





